<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Password Recovery</title>
</head>

<body>
<div>
    <p>To finish password recovery please follow the link below:
        <a href='https://somesite.com/password-recovery?recoveryCode=<%= recoveryCode %>'>recovery password</a>
    </p>
</div>
</body>
</html>
